/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}
/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
#jumb
{
    background-color: rgba(129, 163, 213,0.7 );
    font-family: Georgia, serif;
    color:#0A0859;
    
}
#banner_image
{
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(img/backimg1.jpg) no-repeat center center;
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;  
} 
#bannner_content
{
 position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 margin-top: 12%;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
}
h1
{
    font-size: 48px;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
footer
{
 padding: 10px 0;
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;
 font-size: 24px;
 font-family: serif;
}